*{
    box-sizing: border-box;
    margin: 0px;
}
/*body --> estas propriedades servem para a pagina ter estrutura*/
/*body --> para que o header fique no inicio, o main a meio, e o footer o fim*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

/*Primeiro cabeçalho*/
main h1{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    color: white;
}

/*Texto introdutorio*/
main p{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    color: white;
}

/*Propriedades da imagem*/
main img{
    width: 70%;
    box-sizing: border-box;
    padding-top: 50px;
    float: right;
}
/*Propriedades da lista(geral)*/
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
 /*Propriedades do CONTEUDO da lista*/
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    border: solid;
    border-radius: 10px;
    border-color: black;
    display: block;
    text-align: center;
}

 /*Propriedade de hover --> cursor*/
.navbar a:hover{
    border: solid;
    border-radius: 10px;
    border-color: white;
}
.navbar li{
    display: inline-block;
}
#navbarLogo{
    float: left;
}

footer{
    display: block;
    text-align: center;
}
/*footer li --> blocos adress/contact/schedule*/
footer li{
    padding: 40px;
    overflow: hidden;
    color: white;
    text-align: center;
    float: left;
}
.icons{
    padding: 40px;
    display: block;
    float: right;
    color: white;
}
