*{
    box-sizing: border-box;
    margin: 0px;
}
/*body --> estas propriedades servem para a pagina ter estrutura*/
/*body --> para que o header fique no inicio, o main a meio, e o footer o fim*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:  #DDC3A5;
}

/*Primeiro cabeçalho*/
main h1{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    color: white;
}

/*Texto introdutorio*/
main p{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*Propriedades da imagem*/
main img{
    width: 80%;
    box-sizing: border-box;
    padding-top: 0px;
    float: right;
}

header{
    background: #201E20;
    width: 100%;
    height: 160px;
}
/*Propriedades da lista(geral)*/
.nav_menu{
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
 /*Propriedades do CONTEUDO da lista*/
.nav_menu li a{
    color: rgb(196, 196, 196);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;;
    text-decoration: none;
    padding: 10px, 0px;
    display: block;
    text-align: center;

    transition: all 0.2s;
}

 /*Propriedade de hover --> cursor*/
.nav_menu li a:hover:not(.logo){
    color: #E0A96D;
}
.nav_menu li{
    display: inline-block;
}   

.btncheck{
    display: none;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(196, 196, 196);
}
footer{
    background-color: #201E20;
    margin-top: auto;
    color: rgb(196, 196, 196);
}
footer li{
    padding: 40px;
    overflow: hidden;
    text-align: center;
    float: left;
}

.icons{
    padding: 40px;
    display: block;
    float: right;
}

/* INICIO WELCOME PAGE */

.background_welcome_image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.texto_welcome{
    top: 30vw;
    left: 50vw;
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15vw;
    color: rgb(255, 255, 255);
    text-shadow: 15px 10px  10px rgb(131, 131, 131) ;
    z-index: -1;
}

/* FIM WELCOME PAGE */

/* INICIO GALLERY PAGE */
.container-slide{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

/* Design da caixa slider */
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0 0% 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Estilo das imagens dentro do slider */
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/* Botões para visualizar as outras imagens */
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}
/* FIM GALLERY PAGE */

/* INICIO MENU PAGE */
.container-menu {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    gap: 50px;
}

.hamburguers,
.acompanhamentos,
.bebidas,
.sobremesas {
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    border-radius: 0.5rem;
    box-shadow: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.hamburguers h2,
.acompanhamentos h2,
.bebidas h2,
.sobremesas h2{
    font-size: 32px;
}

.hamburguers ul,
.acompanhamentos ul,
.bebidas ul,
.sobremesas ul {
    font-size: 20px;
}

#Hamburguer_png {
    position: absolute;
    top: -70px;
    right: -60px;
    width: 35%;
}

#Batatas_png {
    position: absolute;
    top: 80px;
    right: -70px;
    width: 60%;
}

#Limonada_png {
    position:    absolute;
    top: -60px;
    right: -60px;
    width: 50%;
}

#Bolo_png {
    position: absolute;
    top: -40px;
    right: -50px;
    width: 50%;
}
/* FIM MENU PAGE */

/* Ecrãs menores */
@media screen and (max-width: 700px) {

    header{
        height: 35px;
        z-index: 1;
    }

    .nav_menu .logo{
        display: none;
    }
    .container-menu{
        display: flex;
        flex-direction: column;
    }

    #Limonada_png {
        position: absolute;
        top: -20px;
        right: -10px;
        width: 50%;
    }
    
    /* INICIO Botão "Hamburguer" */
    .btncheck {
        display: block;
        z-index: 1;
    }

    /* INICIO Animação */
    .btncheck.active .bar:nth-child(2) {
        opacity: 0;  
    }

    .btncheck.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);  
    }

    .btncheck.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);  
    }
    /* FIM Animação */
    /* FIM Botão "Hamburguer" */

    /* INICIO Ajuste da navbar ao tamanho do ecrã */
    .nav_menu li{
        margin: 16px 0;
    }

    .nav_menu li a{
        margin: 6px 0;
        font-size: 30px;
    }
    
    .nav_menu{
        position: relative;
        right: 100%;
        top: 33px;
        gap: 0;
        flex-direction: column;
        background-color: #302d30;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    /* FIM Ajuste da navbar ao tamanho do ecrã */

    .nav_menu.active{
        right: 0px;
    }
}