@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
}
/*body --> estas propriedades servem para a pagina ter estrutura*/
/*body --> para que o header fique no inicio, o main a meio, e o footer o fim*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    min-height: 100vh;
}

/* NAVBAR */ 
.header_global{
    background: #201e2081;
    width: 100%;
    height: 160px;
}
/*Propriedades da lista(geral)*/
.nav_menu{
    list-style-type: none;
    padding: 30px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
 /*Propriedades do CONTEUDO da lista*/
.nav_menu li a{
    color: rgb(196, 196, 196);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;;
    text-decoration: none;
    padding: 10px, 0px;
    display: block;
    text-align: center;

    transition: all 0.2s;
}

 /*Propriedade de hover --> cursor*/
.nav_menu li a:hover:not(.logo){
    color: #E0A96D;
}

.nav_menu li{
    display: inline-block;
} 
/* NAVBAR */  

/* NAVBAR ECRÃS PEQUENOS */
.btncheck{
    display: none;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(196, 196, 196);
}
/* NAVBAR ECRÃS PEQUENOS */

/* FOOTER */
footer{
    background-color: #201e2081;
    margin-top: auto;
    color: rgb(196, 196, 196);
}

footer li{
    padding: 40px;
    overflow: hidden;
    text-align: center;
    float: left;
}

.icons{
    padding: 40px;
    display: block;
    float: right;
}
/* FOOTER */

/* BACKGROUND IMAGE (TUDO MENOS WELCOME PAGE)*/
.background_image {
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    background-image: url('images/background_image.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
/* BACKGROUND IMAGE (TUDO MENOS WELCOME PAGE)*/

/* INICIO WELCOME PAGE */
.background_welcome_image {
    width: 100%;
    height: 100vh;
    filter: blur(3px);
    background-image: url('images/welcome_background.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.texto_welcome {
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15vw;
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 5px rgba(27, 27, 27, 0.842);
}
  
.texto_continuacao {
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6vw;
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 5px rgba(27, 27, 27, 0.842);
    z-index: 1; /* Alterado o z-index para que o texto fique acima da imagem */
}
/* FIM WELCOME PAGE */

/* INICIO MENU PAGE */
.container-menu {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    gap: 50px;
}

.hamburguers,
.acompanhamentos,
.bebidas,
.sobremesas {
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 2em;
    border-radius: 0.5rem;
    box-shadow: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.hamburguers h2,
.acompanhamentos h2,
.bebidas h2,
.sobremesas h2{
    font-size: 32px;
}

.hamburguers ul,
.acompanhamentos ul,
.bebidas ul,
.sobremesas ul {
    font-size: 20px;
}

#Hamburguer_png {
    position: absolute;
    top: -70px;
    right: -60px;
    width: 35%;
}

#Batatas_png {
    position: absolute;
    top: 80px;
    right: -70px;
    width: 60%;
}

#Limonada_png {
    position:    absolute;
    top: -60px;
    right: -10px;
    width: 30%;
}

#Bolo_png {
    position: absolute;
    top: -40px;
    right: -50px;
    width: 50%;
}
/* FIM MENU PAGE */

/* INICIO GALLERY PAGE */
  
  .gallery_page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 900px;
    grid-gap: 0.5rem;
  }
  
  .image {
    position: relative;
    padding-bottom: 100%;
  }
  
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .image img{
    filter: brightness(30%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: clip-path 0.5s, filter 0.5s;
  }
  
  .image img:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    filter: brightness(100%);
  }
  
/* FIM GALLERY PAGE */

/* INICIO ABOUT PAGE */
article {
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background-color: #201e20b0;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}
  
figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    background-color: #201e20b0;
}

article img {
    max-width: 50%;
    border-radius: 50%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 13px;
}

.article-body {
    padding: 24px;
    background-color: #201e20b0;
}
  
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #E0A96D;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
.articles {
    display: grid;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    color: #fff;
    max-width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 100px;
    align-items: center;
}
/* FIM ABOUT PAGE */

/* ECRÃ MENOR */
@media screen and (max-width: 700px) {

    header{
        height: 35px;
        z-index: 1;
    }

    .nav_menu .logo{
        display: none;
    }
    .container-menu{
        display: flex;
        flex-direction: column;
    }

    #Limonada_png {
        position: absolute;
        top: -20px;
        right: -10px;
        width: 40%;
    }
    
    /* INICIO Botão "Hamburguer" */
    .btncheck {
        display: block;
        z-index: 1;
    }

    /* INICIO Animação */
    .btncheck.active .bar:nth-child(2) {
        opacity: 0;  
    }

    .btncheck.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);  
    }

    .btncheck.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);  
    }
    /* FIM Animação */
    /* FIM Botão "Hamburguer" */

    /* INICIO Ajuste da navbar ao tamanho do ecrã */
    .nav_menu li{
        margin: 16px 0;
    }

    .nav_menu li a{
        margin: 6px 0;
        font-size: 30px;
    }
    
    .nav_menu{
        position: relative;
        right: 100%;
        top: 33px;
        gap: 0;
        flex-direction: column;
        background-color: #201e2081;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    /* FIM Ajuste da navbar ao tamanho do ecrã */

    .nav_menu.active{
        right: 0px;
    }

    .image img{
        filter: grayscale(0) brightness(100%);
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
      }

}   
/* ECRÃ MENOR*/

/* PAGINA LOGIN*/
.navbar .btnLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    background-color: #201e2081;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    border-color: black;
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 40px;
    transition: 0s;
    
}

#lpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/rustic-kitchen.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #d7d9d7;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #d7d9d7;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #d7d9d7;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #d7d9d7;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

/*Fazer subir a palavra email e password*/
.input-box input:focus~label, .input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #d7d9d7;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #d7d9d7;
    line-height: 57px;
}

.rember-forgot{
    font-size: 0.9em;
    color: #d7d9d7;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rember-forgot label input{
    accent-color: #d7d9d7;
    margin-right: 3px;
}

.rember-forgot a{
    color: #d7d9d7;
    text-decoration: none;
}

.rember-forgot a:hover{
    text-decoration: underline;
}


.btnInsideLogin{
    width: 100%;
    height: 45px;
    background: #d7d9d7;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #162938;
    font-weight: 500;
}

.btnInsideLogin:hover{
    background-color: #c2c4c2;
}

/* Pagina Reservas */
#reserva_page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper_reserva{
    position: relative;
    width: 900px;
    height: 650px;
    background: #162938;
    border: 2px solid #CD7F32;
    box-shadow: 0 0 25px #E0A96D;
    overflow: hidden;
}

.wrapper_reserva .form-box_reserva{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper_reserva .form-box_reserva.nova_reserva{
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper_reserva .form-box_reserva.nova_reserva .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper_reserva.active .form-box_reserva.nova_reserva .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper_reserva .form-box_reserva.verificar_reserva{
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
}

.wrapper_reserva.active .form-box_reserva.verificar_reserva{
    pointer-events: auto;
}

.wrapper_reserva .form-box_reserva.verificar_reserva .animation{
    transform: translateX(150%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper_reserva.active .form-box_reserva.verificar_reserva .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}


.form-box_reserva h2{
    font-size: 32px;
    color: #CD7F32;
    text-align: center;
}

.form-box_reserva .input_box_reserva{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input_box_reserva input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #d7d9d7;
    padding-right: 23px;
    font-size: 16px;
    color: #d7d9d7;
    font-weight: 500;
    transition: .5s;
}

.input_box_reserva input:focus,
.input_box_reserva input:valid{
    border-bottom-color:#CD7F32;
}

.input_box_reserva label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #d7d9d7;
    pointer-events: none;
    transition: .5s;
}

.input_box_reserva input:focus~label,
.input_box_reserva input:valid~label{
    top: -5px;
    color:#CD7F32;
}

.input_box_reserva i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #d7d9d7;
    transition: .5s;
}

.input_box_reserva input:focus~i,
.input_box_reserva input:valid~i{
    color: #CD7F32;
}


.btn_reserva{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #664418;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #d7d9d7;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn_reserva::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#371D10, #CD7F32);
    z-index: -1;
    transition: .5s;
}

.btn_reserva:hover::before{
    top: 0;
}

.form-box_reserva .goto_check_reserva{
    font-size: 14.5px;
    color: #d7d9d7;
    text-align: center;
    margin: 20px 0 10px;
}

.goto_check_reserva p a{
    color: #CD7F32;
    text-decoration: none;
    font-weight: 600;
}

.goto_check_reserva p a:hover{
    text-decoration: underline;
}

.wrapper_reserva .info_text_reserva{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper_reserva .info_text_reserva.nova_reserva{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper_reserva .info_text_reserva.nova_reserva .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
}

.wrapper_reserva.active .info_text_reserva.nova_reserva .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

.wrapper_reserva .info_text_reserva.verificar_reserva{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper_reserva.active .info_text_reserva.verificar_reserva{
    pointer-events: auto;
}

.wrapper_reserva .info_text_reserva.verificar_reserva .animation{
    transform: translateX(-150%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper_reserva.active .info_text_reserva.verificar_reserva .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--j));
}

.info_text_reserva h2{
    font-size: 36px;
    color: #d7d9d7;
    line-height: 1.3;
    text-transform: uppercase;
}

.info_text_reserva p{
    font-size: 16px;
    color: #d7d9d7;
}

 .wrapper_reserva .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 900px;
    height: 800px;
    background: linear-gradient(45deg, #371D10, #CD7F32 );
    border-bottom: 3px solid #CD7F32;
    transform: rotate(15deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.5s; 
}

.wrapper_reserva.active .bg-animate{
    transform: rotate(0) skewY(0);
    transition-delay: .5s;
}

.wrapper_reserva .bg-animate2{
    position: absolute;
    top: 100%;
    left: 350px;
    width: 1000px;
    height: 900px;
    background: none;
    background: #162938;
    border-top: 3px solid #CD7F32; 
    transform: rotate(16deg) skewY(41deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
} 

.wrapper_reserva.active .bg-animate2{
    transform: rotate(-16deg) skewY(-41deg);
    transition-delay: 1.2s;
}

/* Cor do seletor de data em navegadores WebKit (Chrome, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: -22px;
    cursor: pointer;
}

/* Cor do seletor de data em navegadores Firefox */
input[type="date"]::-moz-calendar-box {
    color: #d7d9d7;
}

/* Cor do seletor de data em navegadores WebKit (Chrome, Safari) */
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: -22px;
    cursor: pointer;
}

/* Cor do seletor de data em navegadores Firefox */
input[type="time"]::-moz-calendar-box {
    color: #d7d9d7;
}


@media (max-width: 576px) {
    .wrapper_reserva, .info_text_reserva.nova_reserva, .info_text_reserva.verificar_reserva, .bg-animate, .bg-animate2{
        width: 100%;
        margin: 10px 0;
    }
}

/*Admin Page*/
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --skin-color: #ec1839;
    --skin-color2: #fa5b0f;
    --skin-color3: #37b182;
    --skin-color4: #1854b4;
    --skin-color5: #f021b2;
}

.body_admin_page{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.body_admin_page-dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

::before,::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto; 
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section{
    z-index: 1;
}

.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.hidden_admin{
    display: none !important;
}


.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}

.padd-menu{
    padding-left: 125px;
    padding-right: 15px;
}

.padd-gallery{
    padding-left: 125px;
    padding-right: 15px;
}

.container_admin{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container_admin{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn_admin{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn_admin:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn_admin_change_menu{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-top: 5px;

}

.btn_admin_change_menu:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn_admin_save_menu{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-top: 5px;
    margin-left: 100px;
}

.btn_admin_save_menu:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn_admin_change_about{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.btn_admin_change_about:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn_admin_save_about{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    justify-content: space-between;
    transition: all 0.3s ease;
    margin-top: 5px;
    margin-left: 100px;
}

.btn_admin_save_about:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.btn_add_delete_admin{
    margin-left: 700px;
    margin-top: 10px;
    justify-content: space-between;
}

.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Aside */
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo_admin{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo_admin a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo_admin a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo_admin a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo_admin a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav_admin_toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 270px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav_admin_toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav_admin_toggler.open span{
    background-color: transparent;
}

.aside .nav_admin_toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav_admin_toggler.open span::before{
    transform: rotate(45deg);
    top: 0;
}

.aside .nav_admin_toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav_admin_toggler.open span::after{
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav_admin{
    margin-top: 50px;
}

.aside .nav_admin li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav_admin li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav_admin li a.active{
    color: var(--skin-color);
}

.aside .nav_admin li a i{
    margin-right: 15px;
}

/*Home*/
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello_admin{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello_admin span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my_profession{
    font-size: 30px;
    margin: 15px 0;
}

.typing_admin{
    color: var(--skin-color);
}

.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home-info ul{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home_img_admin{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    /* atenção posição imagem */
    left: 700px;
    top: -200px;
    
}

.home_img_admin::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 50px;
    bottom: -40px;
}

.home_img_admin::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 50px;
    top: -40px;
}

.home .home_img_admin img{
    margin: auto;
    border-radius: 5px;
    height: 300px;
}

/*About*/
.about_admin .about_admin-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about_admin .about_admin-content .about_admin-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about_admin .about_admin-content .about_admin-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about_admin .about_admin-content .about_admin-text h3 span{
    color: var(--skin-color);
}

/*Menu*/
.menu_admin .container_admin{
    padding-bottom: 40px;
}

.menu_admin .menu_admin-item{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.menu_admin .menu_admin-item .menu_admin-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.menu_admin .menu_admin-item .menu_admin-item-inner:hover{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.menu_admin .menu_admin-item .menu_admin-item-inner .icon_admin{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.menu_admin .menu_admin-item .menu_admin-item-inner .icon_admin img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.menu_admin .menu_admin-item .menu_admin-item-inner .icon_admin .fa-solid{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.menu_admin .menu_admin-item .menu_admin-item-inner:hover .icon_admin{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.menu_admin .menu_admin-item .menu_admin-item-inner:hover .icon_admin .fa-solid{
    font-size: 45px;
}

.menu_admin .menu_admin-item .menu_admin-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.menu_admin .menu_admin-item .menu_admin-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
.menu_admin .menu_admin-item ul{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}


/*Gallery*/

.gallery_admin .container_admin{
    padding-bottom: 40px;
}

.gallery_admin .gallery_admin-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.gallery_admin .gallery_admin-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.gallery_admin .gallery_admin-item-inner .gallery-img img{
    width: 100%;
    height: 250px;
    display: block;
}

/*Contact Section*/
.contact-title{
    color:var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title{
    color: var(--text-black-700);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact-lista_reservas li{
    color: var(--text-black-900);
}


/*Responsive Code*/
@media (max-width:1199px){
    .section .container_admin{
        padding-top: 70px;
    }
    .aside{
        left: -330px;
    }
    .aside.open{
        left: 0;
    }
    .aside .nav_admin_toggler{
        display: flex;
        left: 30px;
    }
    .aside .nav_admin_toggler.open{
        left: 300px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 330px;
    }
    .about_admin .about_admin-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px){
    .contact .contact-info-item,
    .gallery_admin .gallery_admin-item,
    .menu_admin .menu_admin-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home_img_admin{
        display: none;
    }
    
}

@media (max-width:767px){
    .contact .contact-info-item,
    .gallery_admin .gallery_admin-item,
    .about_admin .about_admin-content .experience,
    .about_admin .about_admin-content .education,
    .about_admin .about_admin-content .skills,
    .about_admin .about_admin-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .menu_admin .menu_admin-item{
        flex: auto;
        max-width: 100%;
    }
    
}

/*Style Switcher*/
.style-switcher{
    position: fixed;
    right: 0;
    top: 5px;
}


.style-switcher .day-night{
    position: fixed;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 0%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    top: 55px;
}

/*CRUD FORMS*/
.contact-title_crud{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title_crud{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
}

.crud-form{
    flex: 0 0 100%;
    max-width: 100%;
}

.crud-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

.crud-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .crud-form .form-item{
    margin-bottom: 30px; 
}

.crud-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.crud-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.crud-form .form-item textarea.form-control{
    height: 120px;
}

.crud-form .btn_admin{
    height: 50px;
    padding: 0 50px;
}

#add_admin{
    display: none;
}

#delete_admin{
    display: none;
}

#change_menu{
    display: none;
}

#delete_menu{
    display: none;
}

#add_image{
    display: none;
}

#delete_image{
    display: none;
}

#change_about{
    display: none;
}

.hidden_form{
    display: none;
}



