<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burguer House</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/f51d4c2c11.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="header_global">
        <!--Barra de navegação-->   
        <nav class="navbar">
            <ul class="nav_menu">
                <li><a href="welcome_page.html">Home</a></li>
                <li><a href="menu_page.html">Menu</a></li>
                <li id="navbarLogo" class="logo"><a href="welcome_page.html"><img src="images/logo4.2.png"></a></li>
                <li><a href="gallery_page.html">Gallery</a></li>
                <li><a href="about_page.html" style="color: #E0A96D;">About</a></li>
                <li><a href="reservas_page.html">Reservation</a></li>
            </ul>
            <div class="btncheck">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <br>
        <br>
    </header>
    <script src="script.js"></script>

    <main>
        <div class="background_image"></div>
            <section class="articles">
            <article>
                <div class="article-wrapper">
                    <div class="article-body">
                    <h2>Our Story</p></h2>
                    <p>
                        At the heart of BURGER D11 is the story of <b><font color="#E0A96D" >four passionate individuals</font></b> who came together to redefine the burger experience. Meet the team that brings you joy to every bite!
                    </p>
                    </div>
                </div>
                </article>

                <article>
                    <div class="article-wrapper">
                        <div class="article-body">
                        <h2>Our Mission</h2>
                        <p>
                            Our mission is straightforward: we aim to craft burgers that <b><font color="#E0A96D" >bring joy and delight.</font></b> with every bite. From the initial taste to the final morsel, <b><font color="#E0A96D" >we strive for perfection.</font></b> At BURGER D11, we uphold a commitment to quality; each ingredient is meticulously selected to <b><font color="#E0A96D" >ensure a top-notch experience,</font></b> making your time with us nothing short of the best.
                        </p>
                        </div>
                    </div>
                    </article>
                    
                <article>
                <div class="article-wrapper">
                    <figure>
                    <img src="images/Tiago_Sousa.jpg" alt="" />
                    </figure>
                    <div class="article-body">
                    <h2>Tiago Sousa – <p>Business Strategist</p></h2>
                    <p>
                        This is <b><font color="#E0A96D" >the man who keeps the ship steady.</font></b> With a knack for numbers and a heart for sustainability, he ensures that BURGER D11 not only serves top quality burgers but does so with a mindful approach to business.
                    </p>
                    </div>
                </div>
                </article>

                <article>
                <div class="article-wrapper">
                    <figure>
                    <img src="images/Rodrigo_Anjos.jpg" alt="" />
                    </figure>
                    <div class="article-body">
                    <h2>Rodrigo Anjos – <p>Creative Soul</p></h2>
                    <p>
                        Meet Rodrigo, the creative force behind BURGER D11. With an artistic eye, he is <b><font color="#E0A96D" >the one who transforms your experience into more than just a meal.</font></b> From designing the menu, decorating the restaurant, he delivers a warm and inviting atmosphere.
                    </p>
                    </div>
                </div>
                </article>

                <article>
                <div class="article-wrapper">
                    <figure>
                    <img src="images/Tiago_Lança.jpg" alt="" />
                    </figure>
                    <div class="article-body">
                    <h2>Tiago Lança – <p>Chef and Burger Enthusiast</p></h2>
                    <p>
                        Meet <b><font color="#E0A96D" >the chef</font></b> of BURGER D11, his love for burgers originated in his kitchen with all kinds of experiments, and keeps getting bigger. His enthusiasm to discover new and better recipes is on fire. He delivers top quality and tasty burgers to everyone.
                    </p>
                    </div>
                </div>
                </article>

                <article>
                    <div class="article-wrapper">
                        <figure>
                        <img src="images/Daniel_Martins.jpg" alt="" />
                        </figure>
                        <div class="article-body">
                        <h2>Daniel Martins – <p>Grill Expert </p></h2>
                        <p>
                            Daniel knows his ways around the grill <b><font color="#E0A96D" >like no one else.</font></b> His commitment to achieving the perfect sear and crafting the juiciest burgers for a consistently delicious experience. 
                        </p>
                        </div>
                    </div>
                    </article>
            </section>
        </div>
    </main>
      

    <footer>
        <!--Localização/Contacto/Email/Horario-->
        <hr>
        <ul>
            <li><i class="fa-solid fa-house"></i> : Avenida da Liberdade, 240</li>
            <li><i class="fa-solid fa-phone"></i> : 212 585 999 / 912 912 912</li>
            <li><i class="fa-solid fa-calendar-days"></i> : Monday - Sunday: 12.00 P.M - 02.00 A.M</li>
            
        </ul>
        <span class="icons">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-x-twitter fa-2xl"></i>
            <i class="fa-brands fa-tiktok fa-2xl"></i>
        </span>
    </footer>
</body>
</html>