<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burguer House</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/f51d4c2c11.js" crossorigin="anonymous"></script>
</head>
<body> 
    <header>
        <!--Barra de navegação-->   
        <nav class="navbar">
            <ul class="nav_menu">
                <li><a href="welcome_page.html">Home</a></li>
                <li><a href="menu_page.html" style="color: #E0A96D;">Menu</a></li>
                <li id="navbarLogo" class="logo"><a href="welcome_page.html"><img src="images/logo4.2.png"></a></li>
                <li><a href="gallery_page.html">Gallery</a></li>
                <li><a href="about_page.html">About</a></li>
                <li><a href="reservas_page.html">Reservation</a></li>
            </ul>
            <div class="btncheck">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <br>
        <br>
    </header>
    <script src="script.js"></script>

    <main>
        <div class="background_image"></div>
        <section class="container-menu">
            <div class="hamburguers">
                <h2> Hamburguers</h2>
                <ul><b> D1</b> 130g acém, ketchup, pickles</ul>
                <ul><b> D2</b> 130g acém, ketchup, pickles, cheddar</ul>   
                <ul><b> D3</b> 130g acém, ketchup, pickles, bacon</ul>   
                <ul><b> D4</b> 130g acém, ketchup, pickles, alface, tomate, cheddar, bacon</ul>   
                <ul><b> D5</b> 130g acém, maionese de alho, pickles, cebola caramelizada</ul>   
                <ul><b> D6</b> 130g acém, ketchup, cheddar, aros de cebola</ul>   
                <ul><b> D7</b> 130g picanha, rucula, redução de balsamico, cheddar</ul>   
                <ul><b> D8</b> 130g frango panado, maionese picante, ketchup, bacon</ul>   
                <ul><b> D9</b> Tofu marinado panado, maionese de alho, cebolinho, cogumelos shitake</ul>
                <ul><b> D10</b> Hamburguer de grão, maionese de abacate e lima, queijo vegan <i class="fa fa-star" style="font-size: small;"></i></ul>   
                <ul><b> D11</b> 260g acém, ketchup, pickles, cheddar, bacon</ul>  
                <img id="Hamburguer_png" src="images/Hambúrguer_0.png">  
            </div>
            <div class="acompanhamentos">
                <h2> Acompanhamentos</h2>
                <ul> Batatas Fritas com Cheddar e Bacon</ul>
                <ul> Batatas Fritas em rodela</ul>
                <ul> Aros de Cebola</ul>
                <ul> Nuggets de Frango</ul>
                <img id="Batatas_png" src="images/Batata_frita.png">
            </div>
            <div class="bebidas">
                <h2> Bebidas</h2>
                <ul> Água</ul>
                <ul> Limonada</ul>
                <ul> Groselha</ul>
                <ul> Milkshake de Morango</ul>
                <ul> Milkshake de Chocolate</ul>
                <img id="Limonada_png" src="images/Limonada.png">
            </div>
            <div class="sobremesas">
                <h2> Sobremesas</h2>
                <ul> Cheesecake</ul>
                <ul> Crumble de maçã</ul>
                <ul> Crepe com chocolate</ul>
                <ul> Bolo de bolacha</ul>
                <ul> Bolo de chocolate</ul>
                <ul> Gelado morango/chocolate/baunilha</ul>
                <img id="Bolo_png" src="images/bolo-de-bolacha.png">
            </div>
        </section>
    </main>
    <footer>
        <!--Localização/Contacto/Email/Horario-->
        <hr>
        <ul>
            <li><i class="fa-solid fa-house"></i> : Avenida da Liberdade, 240</li>
            <li><i class="fa-solid fa-phone"></i> : 212 585 999 / 912 912 912</li>
            <li><i class="fa-solid fa-calendar-days"></i> : Monday - Sunday: 12.00 P.M - 02.00 A.M</li>
            
        </ul>
        <span class="icons">
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-x-twitter fa-2xl"></i>
            <i class="fa-brands fa-tiktok fa-2xl"></i>
        </span>
    </footer>
</body>
</html>